---
layout: default
---

<section class="timeline">
  <div class="container">

    {% for post in site.posts %}
    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        {% if post.thumbnail %}<div class="timeline-img-header"
                                    style="background-image: url('{{
                                    post.thumbnail }}');"></div>{% endif %}
        <div class="date">{{ post.date | date: "%Y-%m-%d" }}</div>
        <h2 {% if post.thumbnail %}{% else %}style="padding-top: 2em;"{% endif %}>{{ post.title }}</h2>
        {{ post.content }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
