body
  margin: 0
  font-family: $sans
  font-size: 17px
  font-weight: 400
  background: #fff

#wrap
  width: 100%
  margin: 0 auto

main
  width: 75%
  background-color: #ebf5f7
  padding: 0 12.5% 2% 12.5%
  box-sizing: content-box
  @media screen and (max-width: 768px)
    width: 90%
    padding: 0 5% 2% 5%

#gora
  position: fixed
  right: 0
  bottom: 1rem
  background: #026c83
  img
    width: 1.5rem
    margin: 0 .5rem
