body
  margin: 0
  background: #e6e6e6
  font-family: $sans
  #wrap
    max-width: 1500px
    width: 95%
    margin: 0 auto
    background: white
    @media screen and (max-width: 40em)
      width: 100%
