$lightgrey: #b3b3b3

@font-face
  font-family: "Alegreya Sans SC"
  src: url(../fonts/alegreyasans/AlegreyaSansSC-Regular.otf)

@font-face
  font-family: "Aller light"
  src: url(../fonts/Aller/Aller_Lt.ttf)
@font-face
  font-family: "Aller light"
  src: url(../fonts/Aller/Aller_Rg.ttf)
  font-weight: bold
@font-face
  font-family: "Aller light"
  src: url(../fonts/Aller/Aller_LtIt.ttf)
  font-style: italic
@font-face
  font-family: "Aller light"
  src: url(../fonts/Aller/Aller_It.ttf)
  font-weight: bold
  font-style: italic

$sans: "Aller light"
$sc: "Alegreya Sans SC"

a
  text-decoration: none

*
  box-sizing: border-box

