$lightgrey: #b3b3b3

@font-face
  font-family: "Fira"
  src: url(../fonts/FiraSans/FiraSans-Regular.otf)

@font-face
  font-family: "FiraCon"
  src: url(../fonts/fira-sans-condensed/firasanscondensed-regular.otf)
  font-weight: bold
@font-face
  font-family: "FiraCon"
  src: url(../fonts/fira-sans-condensed/firasanscondensed-bold.otf)
  font-weight: bold

$sans: "Fira"
$con: "FiraCon"

a
  text-decoration: none

*
  box-sizing: border-box

