---
layout: default
---
{% include nav.html %}

<ul class="services">
  <li>
    <img src="/images/graphic.svg"/>
    <h1>diseinu grafikoa</h1>
    <ul>
      <li>Identitate korporatiboa</li>
      <li>Karteleria</li>
      <li>Seinaleak eta errotulazioa</li>
      <li>Liburu eta ebooken maketazioa</li>
      <li>Erakuslehioen diseinua</li>
      <li>Merchandisinga</li>
      <li>Formakuntza</li>
    </ul>
  </li>
  <li>
    <img src="/images/web.svg"/>
    <h1>web diseinua</h1>
    <ul>
      <li>Web diseinua</li>
      <li>Blog diseinua</li>
      <li>Denda online diseinua</li>
      <li>Formakuntza</li>
    </ul>
  </li>
  <li>
    <img src="/images/diy.svg"/>
    <h1>diy</h1>
    <ul>
      <li>Serigrafia</li>
      <li>Joskintza</li>
      <li>Enkuadernazioa</li>
      <li>Tipografia</li>
    </ul>
  </li>
  <li>
    <img src="/images/multimedia.svg"/>
    <h1>multimedia</h1>
    <ul>
      <li>Argazkigintza</li>
      <li>Infografia</li>
      <li>Aurkezpenak</li>
      <li>Ilustrazioak</li>
      <li>Lizentzien aholkularitza</li>
    </ul>
  </li>
</ul>

<section class="programs">
  <ul class="iconList">
    <li><a href="https://www.djangoproject.com/"><img src="{{ site.baseurl }}images/programs/django.svg" alt="django" /></a></li>
    <li><a href="https://inkscape.org"><img src="{{ site.baseurl }}images/programs/inkscape.svg" alt="inkscape" /></a></li>
    <li><a href="https://gimp.org"><img src="{{ site.baseurl }}images/programs/gimp.svg" alt="gimp" /></a></li>
    <li><a href="https://git-scm.com/"><img src="{{ site.baseurl }}images/programs/git.svg" alt="git" /></a></li>
    <li><a href="https://sass-lang.com"><img src="{{ site.baseurl }}images/programs/sass.svg" alt="sass" /></a></li>
    <li><a href="https://darktable.org"><img src="{{ site.baseurl }}images/programs/darktable.svg" alt="darktable" /></a></li>
    <li><a href="https://scribus.net"><img src="{{ site.baseurl }}images/programs/scribus.svg" alt="scribus" /></a></li>
  </ul>
</section>

<section class="aboutme">
  {{ content }}
</section>

<section class="writeme">
  <p>Diseinuren bat nahi al duzu?</p>
  <a href="mailto:contact@iune.info">Idatzi nazazu!</a>
</section>
